<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTransactionController</servlet-name>
        <servlet-class>controllers.SearchTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTransactionController</servlet-name>
        <servlet-class>controllers.CreateTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTransactionController</servlet-name>
        <servlet-class>controllers.UpdateTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAlertController</servlet-name>
        <servlet-class>controllers.SearchAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAlertController</servlet-name>
        <servlet-class>controllers.CreateAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAlertController</servlet-name>
        <servlet-class>controllers.UpdateAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAlertController</servlet-name>
        <servlet-class>controllers.DeleteAlertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTransactionController</servlet-name>
        <url-pattern>/SearchTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTransactionController</servlet-name>
        <url-pattern>/CreateTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTransactionController</servlet-name>
        <url-pattern>/UpdateTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAlertController</servlet-name>
        <url-pattern>/SearchAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAlertController</servlet-name>
        <url-pattern>/CreateAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAlertController</servlet-name>
        <url-pattern>/UpdateAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAlertController</servlet-name>
        <url-pattern>/DeleteAlertController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
